<header>
  <nav class="navbar navbar-expand-md bg">
    <div class="icon ms-3">
      <img src="../../assets/images/header/logo.png" alt="logo" />
    </div>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#btn"
    >
      <i class="bx bx-menu bx-md"></i>
    </button>
    <div class="collapse navbar-collapse ul-bg" id="btn">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link mx-3 text-white fs-4">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link mx-3 text-white fs-4">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link mx-3 text-white fs-4">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link mx-3 text-white fs-4">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
